<div id="posts">
<ul id="posts">
<% @posts.each do |post| %>
  <li class='posts' id='<%= post.id %>'>
    <p class='posts'>
      <%= post.message %>
    </p>
    <p class='time'>
      <%= post.updated_at.strftime('%I:%M%p - %e %b %Y ') %>
    </p>
    <%= form_tag("posts/#{post.id}/edit", method: "get") do %>
      <% if post.user_id == current_user.id %>
      <%= submit_tag("Edit") %>
      <% end %>
    <% end %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes' %></p>
    <% post_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <%= button_tag 'Like', id: :like, onclick: "ChangeLikeButton()" %>
  </li>
    <% end %>
    </ul>
    </div>
